<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.seno.companion_animal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Companion_Animal">
        <activity
            android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.feed.ShowFeedActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.follow.FollowActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.feed.FeedImageActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ReportActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.search.SearchActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.feed.FeedDetailActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_display_name_string_id"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".service.FcmMessageService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.comment.CommentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.feed.MakeFeedActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="studio.seno.commonmodule.BaseActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.user_manage.UserManageActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>